<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% include 'cdnlines.html' %}
  </head>
  <body>
    {% if data %}
    <h1 class="text-center mt-5">All Available Articles are...</h1>
    <table class="table table-bordered table-hover">
      <thead class="bg-success">
        <tr>
          <th>Title</th>
          <th>Body of Article</th>
          <th>Date of Creation</th>
        </tr>
      </thead>
      <tbody class="bg-warning">
        {% for i in data %}
        <tr>
          <td>{{i.title}}</td>
          <td>{{i.body}}</td>
          <td>{{i.created_date}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h1 class="text-center mt-5">No articles is there</h1>
    {% endif %}

  </body>
</html>
